 

<html>
<head>
	<title>GrandTime</title>

	<link href="/css/style.min.css" rel="stylesheet">

</head>
<body>
	<div id="logo">
			<img id="img_logo" src="img/drawing.png">
	</div>
	<div id="center">
		<div class="landingBox">
			<h1 id="welcome">Grand Time</h1>
			<p>Welcome to Grand Time. Grandparents from all around the world come to share their great times they have with their grandchildren</p>
			<div class="loginbutton" >
				<a href="/auth/twitter"><img class="twitter-login" src="img/twitter.png"/></a>
			</div>
		</div>
    <footer>
      <p>COGS 121 Spring '16 - Group G</p>
    </footer>

</body>
</html>